# Chapter 5 Homework
While you can copy/paste several of the codes in this assignment, you will learn more if you type them.

Please put answers to each question in the cell below the question. Use a markdown or code window depending on what is asked for. See the example below.

_remember to 'run' each cell if the text looks unformated_

1. Assume that the variable data refers to the list [5, 3, 7]. Write the values of the following expressions:
```
    a. data[2]
    b. data[-1]
    c. len[data]
    d. data[0:2]
    e. 0 in data
    f. data +[2,10,5]
    g. tuple(data)
```

In [4]:
data = [5, 3, 7]


data[2]

data[-1]

len(data)

data[0:2]

0 in data

data + [2, 10, 5]

tuple(data)

(5, 3, 7)

2. Assume that the variable data refers to the list [5, 3, 7]. Write the expressions that perform the following tasks:
```
    a. Replace the value at position 0 in data with that value's negation.
    b. Add the value 10 to the end of data.
    c. Insert the value 22 at position 2 in data.
    d. Remove the value at position 1 in data.
    e. Add the values in the list newData to the end of data.
    f. Locate the index of the value 7 in data, safely.
    g. Sort the values in data.
```

In [5]:

data = [5, 3, 7]
newData = [100, 200]


data[0] = -data[0]


data.append(10)


data.insert(2, 22)


data.pop(1)


data.extend(newData)


index_of_7 = data.index(7) if 7 in data else -1


data.sort()

3. What is a mutator method? Explain why mutator methods usually return the value None.

In [ ]:
A mutator method is a method that changes the contents 
or state of an object. 
They usually return None because their purpose is to modify the existing object directly, 
not to produce a new value.

4. Write a loop that accumulates the sum of the numbers in a list named data.

In [6]:
data = [5, 3, 7, -2, 10]
total = 0
for num in data:
    total += num
total

23

5. Assume that data refers to a list of numbers, and result refers to an empty list. Write a loop that adds the nonzero values in data to the result list, keeping them in their relative positions and excluding the zeros.

In [7]:
data = [5, 0, 3, 0, 7]
result = []
for num in data:
    if num != 0:
        result.append(num)
result

[5, 3, 7]

6. Write a loop that replaces each number in a list named data with its absolute value.

In [8]:
data = [5, -3, 0, -7, 10]
for i in range(len(data)):
    data[i] = abs(data[i])
data

[5, 3, 0, 7, 10]

7. Describe the costs and benefits of aliasing, and explain how it can be avoided.

In [ ]:
Benefit: Aliasing allows multiple variables to refer to the same data, which can save memory and make sharing data easy.

Cost: Changes through one variable affect all aliases, which can cause unexpected side effects and bugs.

Avoidance: Aliasing can be avoided by creating a copy of the object

8. Explain the difference between structural equivalence and object identity.

In [ ]:
Structural equivalence means two objects have the same contents 

Object identity means two variables refer to the exact same object in memory

9. What roles do the parameters and the return statement play in a function definition?

In [ ]:
Parameters allow a function to receive input values from the caller.
The return statement sends a result back to the caller, allowing the 
functionâ€™s output to be used elsewhere in the program.

10. Define a function named even. This function expects a number as an argument and returns True if the number is divisible by 2, or it returns False otherwise. (Hint: A number is evenly divisible by 2 if the remainder is 0.)

In [9]:
def even(x):
    return x % 2 == 0

11. Use the function even to simplify the definition of the function odd presented in this section.

In [10]:
def odd(x):
    return not even(x)

12. Define a function named summation. This function expects two numbers, named low and high, as arguments. The function computes and returns the sum of the numbers between low and high, inclusive.

In [11]:
def summation(low, high):
    total = 0
    for num in range(low, high + 1):
        total += num
    return total

13. What is the purpose of a main function?

In [ ]:
The main function serves as the entry point of a program. It organizes program execution, making the code more readable, easier to test, 
and reusable when imported into other modules.

14. Give three examples of real-world objects that behave like a dictionary.

In [ ]:
A phone book (names as keys, phone numbers as values);
A student grade book (student IDs as keys, grades as values);
An online shopping cart (product IDs as keys, quantities as values).

15. Assume that the variable data refers to the dictionary {'b':20, 'a':35}. Write the values of the following expressions:
```
    data['a']
    data.get['c',None]
    len[data]
    data.keys()
    data.values()
    data.pop('b')
    data # After the pop above
```

In [12]:
data = {'b': 20, 'a': 35}


data['a']

data.get('c', None)

len(data)

data.keys()

data.values()

data.pop('b')

data

{'a': 35}

16. Assume that the variable data refers to the dictionary {'b':20, 'a':35}. Write the expressions that perform the following tasks:
```
    a. Replace the value at the key 'b' in data with that value's negation.
    b. Add the key/value pair 'c':40 to data.
    c. Remove the value at key 'b' in data, safely.
    d. Print the keys in data in alphabetical order.
```

In [13]:
data = {'b': 20, 'a': 35}


data['b'] = -data['b']


data['c'] = 40


data.pop('b', None)


for key in sorted(data.keys()):
    print(key)

a
c