# LAB 5

# Part A: Creating and Acessing Lists

In [1]:
movies = ["Spider Man", "Grown Ups", "Just Go With It", "Interstellar", "City of God"]
print(movies[0])
print(movies[-1])
print(movies[len(movies)//2])

print(movies[:3])

print(movies[1:])

Spider Man
City of God
Just Go With It
['Spider Man', 'Grown Ups', 'Just Go With It']
['Grown Ups', 'Just Go With It', 'Interstellar', 'City of God']

# Part B: List Methods

In [2]:
animals = ["dog", "cat", "zebra"]
animals.append("elephant")
print(animals)

animals.insert(1, "lion")
print(animals)

animals.remove("cat")
print(animals)

animals.sort()
print(animals)

['dog', 'cat', 'zebra', 'elephant']
['dog', 'lion', 'cat', 'zebra', 'elephant']
['dog', 'lion', 'zebra', 'elephant']
['dog', 'elephant', 'lion', 'zebra']

# Part C: Traversing Lists

In [3]:
animals = ["dog", "lion", "zebra", "elephant"]
for a in animals:
    print(a)

for a in animals:
    print(a.upper())

for i, a in enumerate(animals):
    print(i, a)

dog
lion
zebra
elephant
DOG
LION
ZEBRA
ELEPHANT
0 dog
1 lion
2 zebra
3 elephant

# Part D: Functions with Lists

In [5]:
def average(numbers):
    return sum(numbers) / len(numbers)

print(average([10, 20, 30, 40]))

def longest_word(words):
    return max(words, key=len)

print (longest_word(["banana", "apple", "blueberry"]))

25.0
blueberry

# Part E: Dictionaries

In [6]:
capitals = {"France": "Paris", "Japan": "Tokyo", "Brazil": "Brasilia"}

print(capitals["Japan"])

capitals["Kenya"] = "Nairobi"
print(capitals)

del capitals["France"]
print(capitals)

print(capitals.keys())

print(capitals.values())

Tokyo
{'France': 'Paris', 'Japan': 'Tokyo', 'Brazil': 'Brasilia', 'Kenya': 'Nairobi'}
{'Japan': 'Tokyo', 'Brazil': 'Brasilia', 'Kenya': 'Nairobi'}
dict_keys(['Japan', 'Brazil', 'Kenya'])
dict_values(['Tokyo', 'Brasilia', 'Nairobi'])

# Part F: Mini Challenges

In [ ]:
Shopping Cart

In [7]:
cart = {"apple": 1.5, "bread": 2.0, "milk": 3.5, "eggs": 2.5}

total = 0
for price in cart.values():
    total += price

print("Total cost:", total)

Total cost: 9.5

In [ ]:
Student Grades

In [8]:
grades = {"Pedro": 90, "Lucas": 85, "Juan": 92, "Felipe": 88}

highest_student = max(grades, key=grades.get)
print("Top student:", highest_student, "with score", grades[highest_student])

Top student: Juan with score 92

In [ ]:
Word Counter

In [9]:
sentence = "this is a test"
words = sentence.split()

counter = {}
for word in words:
    if word in counter: 
        counter[word] += 1
    else:
        counter[word] = 1

print(counter)

{'this': 1, 'is': 1, 'a': 1, 'test': 1}

# Wrap-Up Questions

In [ ]:
1.

In a list, items are accessed by index (position, e.g. list[0])
In a dictionary, items are accessed by key (e.g. dict["Japan"])

2.

When you need to store pairs of data 
(like names -> scores, items -> prices)

3. 

Functions let you write code once and reuse it with different data