# In Class

## 09/03/2025

In [2]:
Slide 35: Calling Functions: Arguments and Return Values
. Calling Functions: Arguments and Return Values
. A **function **is chun of code that can be called by name to perform a task
. Functions often require arguments or parameters
 - Arguments may be optional or required
. When function completes its task, it may return a value back to the part of the program that called it
. To learn how to use a functions's arguments, use the help function:

. FUnctions and other resources are coded in components called modules

Slide 37: The MAth Module
. >>> from math import pi, sqrt
. >>> print(pi, sqrt(2))

SyntaxError: unterminated string literal (detected at line 7) (822787829.py, line 7)

In [3]:
from math import pi, sqrt
print(pi, sqrt(2))

3.141592653589793 1.4142135623730951

In [ ]:
Slide 39: Program Format and Structure
. Program Format and Structure
. Start with comment with author's name, purpose of program, and other relevant information
 - In a doc string
. THen, include statements that:
     . Import any modules needed by program
     . Initialize important variables, suitably commented
     . Prompt the user for input data and save the input data in variables
     . Process the inputs to produce the results
     . Display the results

In [ ]:
Slide 40: Running a Script from a Terminal Command Code
. A way to run a Python Script:
 - Open a terminal command prompt window
 - Click in the "Type here to search" box, type Command Prompt, and click Command Prompt in the list
 - Navigate or change directories until the prompt shows directory that contains the Python script
 - Run the script by entering:
    . python3 scriptname.py

In [ ]:
Slide 5: Executing a Statement a Given Number of Times
. Executing a Statement a Given Number of Times
. Python's **for **loop is the control statement that most easily supports definite iteration

. >>>for eachPass in range(4):
    . Print("It's alive!", end = " ")**
. **Its's alive! It's alive! It's alive! It's alive!**

In [3]:
for eachPass in range(4):
    print("duh ", end = "")

duh duh duh duh

# In Class 
# 09/0

In [4]:
. >>> number = 2
. >>> exponent = 3
. >>> product = 1
. >>> for eachPass in range(exponent)
. **product = product * number**
. **print(product, end = " ")**
 . 2 4 8
. >>>> product
. 8

SyntaxError: invalid syntax (2375784172.py, line 1)

In [6]:
number = 2 
exponent = 3
product = 1
for eachPass in range(exponent):
    product = product * number
    print(product, end = " ")

2 4 8

In [7]:
product

8

In [8]:
prod = 1
for count in range(1,5):
    prod = prod*count
    print(prod)

1
2
6
24

In [9]:
. a = 17
. s = "hi"
. a += 3 #Equivalent to a = a + 3
. a -= 3 #Equivalent to a = a - 3
. a *= 3 #Equivalent to a = a * 3
. a /= 3 #Equivalent to a = a / 3
. a %= 3 #Equivalent to a = a % 3

NameError: name 'a' is not defined

In [ ]:
. # Count from 1 through 4, we think
. >>>for count in range(1,4):

In [12]:
for count in range(1,4):
    print(count)

1
2
3

In [14]:
x = list(range(4))
y = list(range(1,5))
print(x,y)

[0, 1, 2, 3] [1, 2, 3, 4]

In [15]:
for character in "Hi there!":
    print(character, end = " ")

H i   t h e r e !

In [16]:
for x in "Hello Class":
    print(x, end = ">")

H>e>l>l>o> >C>l>a>s>s>

In [17]:
list (range(1, 6, 1))

[1, 2, 3, 4, 5]

In [31]:
for expo in range(7, 11):
    print("%-3d%12d" % (expo, 10 ** expo))

7      10000000
8     100000000
9    1000000000
10  10000000000

In [33]:
salary = 100.00
print("Your salary is $" + str(salary))

print("Your salary is $%0.2f" % salary)

Your salary is $100.0
Your salary is $100.00