# In Class
# 09/17/2025

In [1]:
Slide 4: Introduction
. A **list** allows the programmer tomanipulate a sequence of data values of any types
. A dictionary organizes data values by association with other data values rather than by sequential position

SyntaxError: invalid syntax (2599180378.py, line 1)

In [2]:
Slide 5
. List: Sequence of data values (items or elements)
. Some examples:
 - Shopping list for the grocery store
 - To-do list
 - Roster for an athletic team
 - Guest list for a wedding
 - Recipe, which is a list of instructions
 - Text document, which is a list of lines
 - Names in a phone book

SyntaxError: invalid syntax (2467848232.py, line 1)

In [ ]:
Slide 6: List Literals and Basic Operators
. Some examples:

In [3]:
fruit = ["apples", "oranges", "cherries"]
num = [[5,9],[541,78]]

In [5]:
print(f'my number list is {num}, and my fruit is {fruit}')

my number list is [[5, 9], [541, 78]], and my fruit is ['apples', 'oranges', 'cherries']

In [8]:
import math 
x = 2

In [9]:
[2, math.sqrt(x)]

[2, 1.4142135623730951]

In [10]:
first = [1,2,3,4]
second = list(range(1,5))

In [11]:
first

[1, 2, 3, 4]

In [12]:
second

[1, 2, 3, 4]

In [13]:
third = list("Hi there!")

In [14]:
third

['H', 'i', ' ', 't', 'h', 'e', 'r', 'e', '!']

In [15]:
fourth = list("123456")

In [16]:
fourth

['1', '2', '3', '4', '5', '6']

In [18]:
len(first)

4

In [19]:
first[0]

1

In [20]:
third[2:7]

[' ', 't', 'h', 'e', 'r']

In [21]:
"z" in third

False

In [22]:
"p" in third

False

In [ ]:
Slide 10: Replacing an Element in a List
. A list is mutable
 - Elements can be inserted, removed or replaced

In [24]:
num2 = [1,2,3,4,5,6,7]
num2

[1, 2, 3, 4, 5, 6, 7]

In [25]:
num2[3] = 0
num2

[1, 2, 3, 0, 5, 6, 7]

In [27]:
num3 = [2,3,4,5,6]
for index in range(len(num3)):
    num3[index] = num3[index]**2
num3

[4, 9, 16, 25, 36]

In [28]:
sentence = "This example has five words."
words = sentence.split()
words

['This', 'example', 'has', 'five', 'words.']

In [29]:
for index in range(len(words)):
    words[index] = words[index].upper()
words

['THIS', 'EXAMPLE', 'HAS', 'FIVE', 'WORDS.']

In [31]:
num3.insert(9,1000)
num3

[4, 100, 9, 16, 25, 36, 1000]

In [33]:
num3.extend(['no', 'way'])
num3

[4, 100, 9, 16, 25, 36, 1000, 'no', 'way']

In [ ]:
Slide 16: Searching a List
. **in **determines an element's presence or absence, but does not return position of element (if found)

In [4]:
aList = [34,45,67]
target = int(input("What number do you want to look for? "))
if target in aList:
    print(f'Your number is located in teh{aList.index(target)} index position')
else:
    print("It is not there")

What number do you want to look for?  45

Your number is located in teh1 index position

In [ ]:
Slide 17: Sorting a List
. A list's elements are always ordered by position, but you can impose a natural ordering on them
 - For example, in alphabetical order
. When the elements can be related by comparing them <,> and ==, they can be sorted
 - The method sort mutates a list by arranging its elements is ascending order

In [5]:
num = [4,2,10,8]
num

[4, 2, 10, 8]

In [8]:
num.sort ()
num

[2, 4, 8, 10]

# l

In [ ]:
. All of the functions and methods examined in previous chapters return a value that the caller can then use to complete its work
. Mutator methods (e.g., insert, append, extend, pop, and sort) usually return no value of interest to caller
 - Python automatically returns the special value None

In [10]:
aList = aList.sort()
print(aList)

None

In [19]:
first = [10,20,30]
second = first
print(first, "and", second)

[10, 20, 30] and [10, 20, 30]

In [20]:
first[1] = 99
print(first, "and", second)

[10, 99, 30] and [10, 99, 30]

In [21]:
third = []
for element in first:
    third.append(element)
first[0] = 1000
print(first, "and", third)

[1000, 99, 30] and [10, 99, 30]

In [22]:
fourth = first.copy()
fourth

[1000, 99, 30]

In [ ]:
. Programmers might need to see whether two variables refer to the exact same object or to different objects
. Example, you might want to determine whether one variable is an alias for another
. The == operator returns True if the variables are aliases for the same object
. Unfortunately, == also returns True if the contents of two different objects are the same
. The first relation is called object identity

In [23]:
third = list(first)
print(first == second, first == third, first is third)

True True False

In [30]:
"""
file: median.py
Author: someone else, wasn't me 
Purpose\description:
Prints the median of a set of numbers in a file
"""

fileName = input("enter the fileName: ")
f = open(fileName, 'r')
numbers = []
for line in f:
    words = line.split()
    for word in words:
        numbers.append(float(word))

numbers.sort()
midpoint = len(numbers) // 2
print("The median is", end = " ")
if len(numbers) % 2 == 1:
      print(numbers[midpoint])
else:
    print((numbers[midpoint] + numbers[midpoint - 1]) / 2)

enter the fileName:  Untitled1.ipynb

ValueError: could not convert string to float: '{'